This is Data Summaries section. 

1/8 of Codecademy course on EDA with Python

## Introduction

Performing some initial investigations of the data through **exploratory data analysis (EDA)**
to get a better sense of what you will be working with.

Basic **summary statistics** and **visualizations** are important components of EDA as they allow us to 
condense a large amount of information into a small set of numbers or graphics that can be easily 
interpreted.

**Univariate summaries** - explore each variable separately.

This is useful for answering questions about each individual feature. Variables can typically be classified as quantitative (i.e., numeric) or categorical (i.e., discrete). Depending on its type, we may want to choose different summary metrics and visuals to use.

This is useful for answering questions about each individual feature.

Here with the **requests library** I am fetching the dataset url to my Jupyter Lab without saving the file to my drive or my desktop.

In [6]:
import requests

url = "https://raw.githubusercontent.com/Codecademy/datasets/master/streeteasy/streeteasy.csv"  # Replace with the file URL
response = requests.get(url)

# Save the file in the current working directory
with open("yourfile.csv", "wb") as f:
    f.write(response.content)

In [8]:
import os
print(os.getcwd())

/Users/jamshedmaqsudov/Desktop/EDA_Learning_Journey

### We import the **pandas library** and open our csv file

In [10]:
import pandas as pd

# Import dataset
rentals = pd.read_csv('yourfile.csv')

# Preview first 5 rows
print(rentals.head())

   rental_id  building_id   rent  bedrooms  bathrooms  size_sqft  \
0       1545     44518357   2550       0.0          1        480
1       2472     94441623  11500       2.0          2       2000
2      10234     87632265   3000       3.0          1       1000
3       2919     76909719   4500       1.0          1        916
4       2790     92953520   4795       1.0          1        975

   min_to_subway  floor  building_age_yrs  no_fee  has_roofdeck  \
0              9    2.0                17       1             1
1              4    1.0                96       0             0
2              4    1.0               106       0             0
3              2   51.0                29       0             1
4              3    8.0                31       0             0

   has_washer_dryer  has_doorman  has_elevator  has_dishwasher  has_patio  \
0                 0            0             1               1          0
1                 0            0             0               0          0
2                 0            0             0               0          0
3                 0            1             1               1          0
4                 0            1             1               1          0

   has_gym       neighborhood            submarket    borough
0        1    Upper East Side  All Upper East Side  Manhattan
1        0  Greenwich Village         All Downtown  Manhattan
2        0            Astoria     Northwest Queens     Queens
3        0            Midtown          All Midtown  Manhattan
4        1  Greenwich Village         All Downtown  Manhattan

#### To work with our dataset as it is indicated in the codecademy lesson we only need these three columns and get them in a new variable

In [22]:
rental = rentals[['rent','size_sqft','borough']]
rental.head()

    rent  size_sqft    borough
0   2550        480  Manhattan
1  11500       2000  Manhattan
2   3000       1000     Queens
3   4500        916  Manhattan
4   4795        975  Manhattan

We display the **summary statistics** for all the columns. 

In EDA we display it with **describe() method in Pandas** to 
condense the large amount of information into small set of numbers
such as mean, std, min, max and etc..

This is a great way to get an **overview** of all the variables in a dataset.

In [24]:
# Display summary statistics for all columns

rental.describe(include='all')

                rent    size_sqft    borough
count    5000.000000  5000.000000       5000
unique           NaN          NaN          3
top              NaN          NaN  Manhattan
freq             NaN          NaN       3539
mean     4536.920800   920.101400        NaN
std      2929.838953   440.150464        NaN
min      1250.000000   250.000000        NaN
25%      2750.000000   633.000000        NaN
50%      3600.000000   800.000000        NaN
75%      5200.000000  1094.000000        NaN
max     20000.000000  4800.000000        NaN

#### Continue tomorrow: 16.12.2024